
.componentContainer {
    width: 25%;
    display: block;
    position: relative;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px black dotted;
}

@media screen and (max-width: 700px) {
    .componentContainer {
        width: calc(100% - 4em);
        left: 1em;
        right: 1em;
    }
}

@media screen and (max-width: 1400px) and (min-width: 700px) {
    .componentContainer {
        width: calc(50% - 4em);
        left: 1em;
        right: 1em;
    }
}
