.header-container {
  display: block;
  position: relative;
  width: calc(100% - 2em);
  margin: 1em;
  height: 12em;
  border: 1px dotted black;
  overflow: hidden;
}

.logo {
  width: 100px;
  height: 100px;
}